/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
}

body {
  background-color: white;
  font-family: 'Roboto', HelveticatNeue-Light, HelveticatNeue, Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
